.media-cards-list {
  @include row (center, start, wrap);
  margin:0;
  padding:0;
  gap: 30px;

  a {
    text-decoration: none;
  }
}

.media-card {
  list-style: none;
  width: 350px;
  
  &__cover {
    display: block;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;       

    img, video {
      width:350px;
      height: 300px;
      object-position: center 5%;
      object-fit: cover;
    }
  }

  &__content {
    margin-top:10px;
    @include row(space-between, start);

    &__title {
      font-size: 24px;
      margin:0;
    }
  }
}