.selector {
  position: relative;
  margin:0;
  padding: 5px 10px;
  background: $primary;
  list-style: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  overflow: hidden;

  button {
    position: absolute;
    top:0;
    right:0;
    padding:5px 10px;
    content: '\e409';
    font-family: 'Material Icons';
    font-style: normal;
    font-size: 25px;
    font-weight: 400;
    transform: rotate(90deg);
    cursor: pointer;
    z-index: 3;
  }

  &__item {
    padding:5px;
    padding-right:50px;
    padding-bottom:10px;
    border-bottom: 1px solid;
    list-style: none;

    &:last-child {
      border: 0px;
    }
  }
}
