* {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

h1 {
  font-weight: 400;
}

h2, .display-h2 {
  color: $primary-lighten;
  font-size: 36px;
  font-weight: 300;
}

.text {
  &--primary {
    color: $primary;
  }
  &--grey {
    color: $grey
  }
}

section {
  margin: 30px;
}
