<!DOCTYPE html>
<html lang="fr">
  <head>    
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet" />
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
      <link href="<%= htmlWebpackPlugin.files.css[chunk]%>"  rel="stylesheet" type="text/css"/>
    <% } %>
  </head>
  <body>
    <header>
      <a href="index.html">
        <img src="assets/images/logo.svg" class="logo" alt="Fisheye Home page" />
      </a>
      <h1 class="text--primary">Nos photographes</h1>
    </header>
    <main id="main">
      <ul id="photographer_section"></ul>
    </main>
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
      <script src="<%= htmlWebpackPlugin.files.js[chunk]%>"></script>
    <% } %>
  </body>
</html>