<!DOCTYPE html>
<html lang="fr">
  <head>    
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" type="image/png" href="assets/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=DM+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="css/normalize.css" rel="stylesheet" type="text/css" />
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
      <link href="<%= htmlWebpackPlugin.files.css[chunk]%>"  rel="stylesheet" type="text/css"/>
    <% } %>    
  </head>
  <body>
    <header>
      <a href="index.html">
        <img src="assets/images/logo.svg" class="logo" alt="Fisheye Home page" />
      </a>
    </header>
    <main id="main">
      <section id="profil"></section>
      <section id="filter">
        <h3><label id="filter__title" for="filter__toggle">Trier par</label></h3>
        <div class="selector">
          <button id="filter__toggle" class="selector__toggle" aria-haspopup="true"><span class="material-icons">expand_more</span></button>
          <ul role="listbox" aria-label="Filtrer" tabindex="0" class="selector__list">
            <li id="filter__option1" role="option" class="selector__item selected">Popularité</li>
            <li id="filter__option2" role="option" class="selector__item">Date</li>
            <li id="filter__option3" role="option" class="selector__item">Titre</li>
          </ul>
        </div>
      </section>
      <section id="portfolio"></section>
    </main>
    <% for (var chunk in htmlWebpackPlugin.files.js) { %>
      <script src="<%= htmlWebpackPlugin.files.js[chunk]%>"></script>
    <% } %>
  </body>
</html>
